<form [formGroup]="form">
<mat-form-field appearance="fill" class="mat-width">
  <mat-label>From currency</mat-label>
  <mat-select formControlName="from">
    <mat-option
      *ngFor="let currency of currencies"
      [value]="currency.id"
      (onSelectionChange)="getData($event, 'from')">
      {{currency.id}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="mat-width">
  <mat-label>To currency</mat-label>
  <mat-select formControlName="to">
    <mat-option
      *ngFor="let currency of currencies"
      [value]="currency.id"
      (onSelectionChange)="getData($event, 'to')">
      {{currency.id}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <mat-form-field appearance="fill" class="mat-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="datepicker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply (click)="selectDate()">Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

<button mat-raised-button color="warn" (click)="setDefault()" class="mat-height mat-width ">Clear filters</button>

</form>
